*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
}

/* HEADER */
header{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2d378e;
    flex-wrap: wrap;
}

nav{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* HERO */
.hero{
    width: 100%;
    min-height: 70vh;
    background: url(assets/hero.8636885a0e031bb830f3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* WHY SECTION */
.whytext{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: #2d378e;
    margin-top: 70px;
}

.why{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    min-height: 500px;
    padding: 20px;
    gap: 30px;
}

.left-content{
    width: 45%;
}

.left-content h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
}

.counts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.counts h6{
    font-weight: 500;
    font-size: 25px;
}

.counts p{
    color: #00000080;
    font-size: 17px;
    font-weight: 400;
    margin-top: -10px;
}

.right-content{
   width: 45%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.right-content img{
    margin-top: 10px;
    width: 90px;
    height: 40px;
}

.inner1,
.inner2,
.inner3,
.inner4{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.inner1{
    background: rgba(221, 221, 221, 0.1);
}

.inner2{
    background: rgba(214, 169, 95, 0.1);
}

.inner3{
    background: rgba(178, 176, 247, 0.1);
}

.inner4{
    background: rgba(255, 169, 220, 0.1);
}

/* TOOLS */
.tools{
    padding: 20px;
}

.tools h1{
    font-size: 36px;
    color: #2f358d;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.tools .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    flex-wrap: wrap;
}

.tools .container i{
   font-size: 80px;
}

/* PROGRAMS */
.programs{
    min-height: auto;
    background: #dea7291a;
    padding: 50px 20px;
}

.programs h2{
    font-size: 36px;
    color: #2f358d;
    font-weight: 500;
    text-align: center;
}

.programs p{
    text-align: center;
}

.programs-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.program-box{
    padding: 20px;
    background-color: #fff;
    min-height: 550px;
    width: 350px;
    border-radius: 25px;
    text-align: center;
}

.program-box h3{
    font-size: 19px;
    margin: 20px 0;
}

.program-box p{
    font-weight: 400;
}

.program-box img{
    width: 100%;
    margin-top: 20px;
    height: 230px;
    object-fit: cover;
}

/* STARTUPS */
.startups{
    padding: 30px;
}

.startups h1{
    font-size: 36px;
    color: rgb(0, 0, 131);
    font-weight: 500;
    text-align: center;
}

.startups .container,
.startups .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

/* TESTIMONIALS */
.testimonials{
    min-height: auto;
    background: #b2b0f71a;
    display: flex;
    justify-content: space-around;
    padding: 70px 20px;
    gap: 30px;
}

.testimonials-text h3{
    font-size: 25px;
    font-weight: 600;
}

.testimonials-text p{
    margin-top: 20px;
}

.testimonials-card{
    background: #fff;
    width: 500px;
    min-height: 560px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
}

.testimonials-card h4{
    line-height: 1.6;
}

.testimonials-card img{
    border-radius: 50%;
    margin-top: 20px;
}

.testimonials-card h2{
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
}

.testimonials-card p{
    color: #dea729;
    font-size: 18px;
}

.dots{
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.dot,
.dot-b{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.dot{
    background-color: #cacaca;
}

.dot-b{
    background-color: rgb(62, 62, 247);
}

/* CONTACT */
.contact-us{
    padding: 40px 20px;
}

.contact-us h1{
    text-align: center;
    color: #2f358d;
    font-size: 40px;
    margin-bottom: 50px;
}

.contact-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.form{
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
    min-height: 400px;
    width: 520px;
    padding: 20px;
}

.form input{
    width: 100%;
    height: 55px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #5e5e5e;
    outline: none;
    padding: 10px;
}

.form button{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #dea729;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.address{
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
    width: 500px;
    min-height: 400px;
    padding: 25px;
}

.address h3{
    color: #2f358d;
    margin: 20px 0 10px;
}

/* FOOTER */
footer{
    color: rgb(0, 0, 131);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 60px 0;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

footer img{
    width: 250px;
    object-fit: contain;
}

footer h3{
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(0, 0, 131);
}

footer li{
   margin-top: 20px;
   font-weight: 400;
}

@media (max-width:992px){

    nav{
        gap: 20px;
    }

    .why{
        flex-direction: column;
    }

    .left-content,
    .right-content{
        width: 100%;
    }

    .testimonials{
        flex-direction: column;
        align-items: center;
    }

    .testimonials-card{
        width: 100%;
    }
}

/* MOBILE */
@media (max-width:768px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    nav{
        flex-direction: column;
        gap: 15px;
    }

    .whytext,
    .tools h1,
    .programs h2,
    .startups h1,
    .contact-us h1{
        font-size: 28px;
    }

    .left-content h3{
        font-size: 22px;
        line-height: 32px;
    }

    .right-content{
        grid-template-columns: 1fr;
    }

    .counts{
        flex-direction: column;
        gap: 20px;
    }

    .program-box{
        width: 100%;
    }

    .form,
    .address{
        width: 100%;
    }

    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* 
@media (max-width:480px){

    .hero{
        min-height: 50vh;
    }

    .testimonials-card{
        padding: 15px;
    }

    .testimonials-text h3{
        font-size: 20px;
    }

    .tools .container i{
        font-size: 50px;
    }
} */